@import "tailwindcss";

body {
  background-color: #f8fafc; /* bg-gray-50 */
  color: #0f172a; /* text-gray-900 */
  -webkit-tap-highlight-color: transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}